@import './variables.css';

/* site specific */

.decorated {
  display: inline-block;
  position: relative;
}

.decorated:after {
  display: inline-block;
  content: '';
  width: 140%;
  position: absolute;
  left: -20%;
  height: 30%;
  top: 40%;
  z-index: -1;
  background-color: rgba(#adf3ad, 0.5);
}

.raised {
  /* display: inline-block; */
  background-color: rgba(var(--color-bg), 0.75);
  position: relative;
  z-index: 100;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}

/* layout */
.wrap {
  max-width: var(--wrap);
  margin: 0 auto;
}

.wrap-s {
  max-width: var(--wrap-s);
  margin: 0 auto;
}

.wrap-xs {
  max-width: var(--wrap-xs);
  margin: 0 auto;
}

.wrap-l {
  max-width: var(--wrap-l);
  margin: 0 auto;
}

.wrap-xl {
  max-width: var(--wrap-xl);
  margin: 0 auto;
}

.body-text {
  max-width: var(--wrap-s);
}

/* text */

.mono {
  font-family: var(--font-mono);
}

.fs-tiny,
.fs-tiny * {
  font-size: var(--font-tiny);
}

.fs-small,
.fs-small * {
  font-size: var(--font-small);
}

.fs-large,
.fs-large * {
  font-size: var(--font-large);
}

.ta-center {
  text-align: center;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* visibility */
.sr-only {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* margin top */
.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

/* margin bottom */

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}
