:root {
  /* font */
  --font-fallback: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter',
    -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  --font-sans: 'IBM Plex Sans', var(--font-fallback);
  --font-mono: 'IBM Plex Mono';
  --font-courier: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter';

  --font-micro: 0.6rem;
  --font-tiny: 0.75rem;
  --font-small: 0.9rem;
  --font-large: 1.15rem;

  --scale: 1.125;
  --font-size-1: 1rem;
  --font-size-2: calc(var(--scale) * var(--font-size-1));
  --font-size-3: calc(var(--scale) * var(--font-size-2));
  --font-size-4: calc(var(--scale) * var(--font-size-3));
  --font-size-5: calc(var(--scale) * var(--font-size-4));
  --font-size-6: calc(var(--scale) * var(--font-size-5));

  /* wraps */
  --wrap: 960px;
  --wrap-s: 640px;
  --wrap-xs: 520px;
  --wrap-l: 64em;
  --wrap-xl: 84em;

  /* card */
  --radius-card: 0.25rem;

  /* colors - grays */
  --gray-900: #444446;
  --gray-800: #555557;
  --gray-700: #666668;
  --gray-600: #7f7f81;
  --gray-500: #99999b;
  --gray-400: #b3b3b4;
  --gray-300: #d5d5d6;
  --gray-200: #efefef;
  --gray-100: #fdfdfd;

  /* colors - palette */
  --color-primary: #fdf3ec;
  --shade-0: #e6ddd7;
  --shade-1: #d0c7c2;
  --shade-2: #b9b1ac;
  --shade-3: #a29b97;
  --shade-4: #8b8581;
  --shade-5: #736f6c;
  --shade-6: #5c5956;
  --shade-7: #454341;
  --shade-8: #454341;
  --shade-9: #171716;
  --tint-0: #fdf4ed;
  --tint-1: #fdf5ef;
  --tint-2: #fdf6f1;
  --tint-3: #fdf7f2;
  --tint-4: #fdf8f4;
  --tint-5: #fef9f6;
  --tint-6: #fefaf8;
  --tint-7: #fefbf9;
  --tint-8: #fefcfb;
  --tint-9: #fefcfb;

  /* colors - vendor */
  --color-facebook: #546ba6;
  --color-instagram: #d1617e;

  /* colors - misc. */
  --color-red: #ac3931;
  --color-green: #adf3ad;

  /* colors - assigned */
  --color-text: hsla(0, 0%, 0%, 0.8);
  --color-bg: #ffffff;

  --color-link: #158c15;
  --color-link-hover: #0a420a;

  --color-button: var(--color-primary);
  --color-button-hover: var(--shade-0);

  --color-alert: var(--color-red);
  --color-success: var(--color-green);
}

@media screen and (min-width: 50em) {
  :root {
    --scale: 1.3333;
    --font-base-size: 19px;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --font-base-size: 21px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --font-base-size: 23px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;
  }
}

@media screen and (min-width: 1900px) {
  :root {
    --font-base-size: 28px;
    --line-height: 1.45;
    --line-height-heading: 1.35;

    /* scale for 1.25 */
    --font-size-0: 1rem;
    --font-size-1: 1.25rem;
    --font-size-2: 1.563rem;
    --font-size-3: 1.953rem;
    --font-size-sub-1: 0.8rem;
    --font-size-sub-2: 0.64rem;

    --w-body: 28rem;
    --w-figure: 38rem;
  }
}

/* custom media queries */
@custom-media --tablet (min-width: 600px);
@custom-media --desktop (min-width: 1000px);
@custom-media --large (min-width: 1400px);
@custom-media --hd (min-width: 1900px);
@custom-media --mobile (max-width: 800px);
