@import '../utils/variables.css';

.title {
  margin-top: 0.5rem;
  font-weight: 300;
  line-height: 1.5;
  font-size: var(--font-micro);
  color: var(--gray-600);
  margin-bottom: 0;
}

.title a .name {
  color: var(--color-link-hover);
}

.title a .authorList {
  color: var(--gray-600);
}

.year {
  font-size: var(--font-micro);
  color: var(--gray-500);
}

/* author list */

.authorList {
  font-size: var(--font-micro);
  color: var(--gray-500);
}

.authorList span::after {
  content: ', ';
}

.authorList span:last-child::after {
  content: '';
}
