@import '../utils/variables.css';

.books {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

@media (--tablet) {
  .books {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
  }
}

@media (--desktop) {
  .books {
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 2rem;
  }
}
