@import '../utils//variables.css';

.btn,
a.btn,
button.btn,
.btn:visited {
  background-color: var(--gray-900);
  border: 1px solid var(--gray-200);
  color: var(--gray-200);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-small);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.75rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 200ms;
  transition-property: background-color;
  user-select: none;
  width: auto;
  z-index: 110;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn:hover,
a.btn:hover,
button.btn:hover {
  background-color: var(--gray-800);
  color: var(--gray-100);
}

.btn:focus {
  outline: none;
}

.btn.btnSmall {
  font-size: var(--font-tiny);
  padding: 0.65rem 0.9rem;
}

.btn.red {
  background-color: var(--color-red);
}

.btn.red:hover {
  background-color: rgba(var(--color-red), 0.9);
}
