@import '../utils/variables.css';

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5rem;
  margin-top: 0.5rem;
}

@media (--desktop) {
  .gallery {
    grid-template-columns: repeat(9, 1fr);
  }
}

.thumbnail {
  opacity: 0.75;
  transition: opacity 0.25s ease-in-out;
  cursor: zoom-in;
}

.thumbnail:hover {
  opacity: 1;
}
