@import '../utils/variables.css';

.form {
  max-width: 420px;
  margin: 8rem auto;
  background-color: var(--gray-800);
  color: white;
  padding: 1.5rem 1.5rem;
  border-radius: var(--radius-card);
}

.form p {
  text-align: center;
}

.field {
  margin-top: 1.5rem;
}

.field input,
.field textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (--desktop) {
  .form {
    /* display: grid;
    margin: 0 auto;
    max-width: 520px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem; */
  }

  .field {
    margin-top: 0;
  }
}

input[type='text'],
input[type='email'] {
  background-color: white;
  /* border-radius: var(--border-radius); */
  border: 1px solid var(--gray-400);
  color: var(--gray-800);
  padding: 0.4rem 0.35rem;
  width: 100%;
}

input[type='text']:focus,
input[type='email']:focus {
  border-color: var(--gray-200);
}

input[type='submit'] {
  display: inline-block;
}

textarea {
  background-color: white;
  /* border-radius: var(--border-radius); */
  border: 1px solid var(--gray-400);
  padding: 0.4rem 0.35rem;
  width: 100%;
  line-height: 1.35;
  min-height: 240px;
}

label {
  display: block;
  font-size: var(--font-small);
  font-weight: 400;
  line-height: 1;
  color: var(--shade-8);
  margin-bottom: 0.5rem;
}

.btn {
  border: none;
  background-color: transparent;
  color: var(--gray-100);
  cursor: pointer;
  display: inline-block;
  font-size: var(--font-small);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  padding: 0.75rem 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 200ms;
  transition-property: background-color;
  user-select: none;
  width: auto;
  z-index: 110;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid white;
  background-color: var(--gray-900);
}

.btn:hover {
  background-color: var(--gray-800);
}

.submit {
  margin-top: 1rem;
}
