@import '../utils/variables.css';

.videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
}

@media (--tablet) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
}

@media (--desktop) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
