@import '../utils/variables.css';

.card {
  /* display: block;
  background-color: white;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-card);
  color: var(--gray-900);
  box-shadow: 0 0 10px 0px rgba(var(--gray-200), 0.35);
  transition: all 0.05s ease-in-out;
  color: var(--gray-800);
  z-index: 100;
  position: relative;
  padding: 3rem 1.5rem; */
  margin-top: 6rem;
}

.card:first-of-type {
  margin-top: 4rem;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0.5rem;
}

/* teser */
@media (--desktop) {
  .teaser {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-gap: 1.5rem;
  }

  .teaserText {
    text-align: left;
    margin-top: 2rem;
  }
}

.grid {
  margin-top: 0.75rem;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: repeat(4, 1fr);
}

.grid .spanHalf {
  grid-column: span 2;
}

/* files */

.files {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.files a {
  display: inline-block;
}

.filePreview canvas {
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--gray-200);
  opacity: 0.65;
  transition: all 0.25s ease-in-out;
  max-width: 100%;
  height: auto !important;
}

.files a:hover canvas {
  border-color: var(--gray-600);
  opacity: 1;
}

.fileLabel {
  display: inline-block;
  margin-top: 0.5rem;
  font-style: italic;
}
