@import '../utils/variables.css';

.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.15rem;
}

.introInner {
  width: 100%;
  text-align: center;
  margin-bottom: 15rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.box {
  max-width: 540px;
  display: block;
  background-color: white;
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-card);
  color: var(--gray-900);
  box-shadow: 0 0 10px 0px rgba(var(--gray-200), 0.35);
  transition: all 0.05s ease-in-out;
  margin-bottom: 1.5rem;
  color: var(--gray-800);
  padding: 1rem 1.5rem;
  line-height: 1.5;
}

.boxModal {
  padding: 2rem 1.5rem;
}
