@import '../utils/variables.css';

.item {
  margin: 1.5rem auto 0 auto;
  max-width: 720px;
  background-color: white;
  border-radius: var(--radius-card);
  border: 1px solid var(--gray-200);
  padding: 2rem 1.5rem;
  box-shadow: 0 0 10px 0px rgba(var(--gray-200), 0.35);
  transition: all 0.25s ease-in-out;
}

.itemModal {
  padding: 2rem 1.5rem;
}

.phonetic {
  font-size: 65%;
  vertical-align: middle;
  font-family: var(--font-courier);
  color: var(--gray-600);
}

.referenceList li {
  font-size: var(--font-tiny);
  margin-bottom: 0.5rem;
}
